<section class="optionsmenu">

    <div class="optionsmenu__tabs-wrapper">
        <input type="radio" id="tab1" name="tab-control">
        <input type="radio" id="tab2" name="tab-control">
        <input type="radio" id="tab3" name="tab-control">

        <ul class="optionsmenu__categories">
            <li class="optionsmenu__categories__container">
                <label role="button" for="tab1" data-drinktype="alcohol" class="optionsmenu__categories__alcohol optionsmenu__categories__category optionsmenu__categories__category--drinks">
                    <h2 data-drinktype="alcohol">Alcohol</h2>
                </label>

            </li>
            <li class="optionsmenu__categories__container">
                <label role="button" for="tab2" data-drinktype="juice"
                    class="optionsmenu__categories__juice optionsmenu__categories__category optionsmenu__categories__category--drinks">
                    <h2 data-drinktype="juice">Juices</h2>
                </label>

            </li>
            <li class="optionsmenu__categories__container">

                <label role="button" for="tab3" data-drinktype="tea"
                    class="optionsmenu__categories__tea optionsmenu__categories__category optionsmenu__categories__category--drinks">
                    <h2 data-drinktype="tea">Tea/Coffee</h2>
                </label>

            </li>
        </ul>
    </div>

</section>