<section class="optionsmenu">

    <div class="optionsmenu__tabs-wrapper">
        <input type="radio" id="tab1" name="tab-control">
        <input type="radio" id="tab2" name="tab-control" checked>
        <input type="radio" id="tab3" name="tab-control">

        <ul class="optionsmenu__categories">
            <li class="optionsmenu__categories__container">
                <label role="button" for="tab1" class="optionsmenu__categories__meat optionsmenu__categories__category">
                    <h2>Meat</h2>
                </label>

            </li>
            <li class="optionsmenu__categories__container">
                <label role="button" for="tab2"
                    class="optionsmenu__categories__sides optionsmenu__categories__category">
                    <h2>Sides</h2>
                </label>

            </li>
            <li class="optionsmenu__categories__container">

                <label role="button" for="tab3"
                    class="optionsmenu__categories__dishtype optionsmenu__categories__category">
                    <h2>Courses</h2>
                </label>

            </li>


        </ul>

        <div class="optionsmenu__content-wrapper">
            <section class="optionsmenu__options optionsmenu__options-sides">
                <div class="optionsmenu__options--line">
                    <div id="pork" class="optionsmenu__options__item optionsmenu__options__item--pork optionsmenu__options__item--pork">
                        <h3>Pork</h3>
                    </div>
                    <div id="turkey" class="optionsmenu__options__item optionsmenu__options__item--turkey optionsmenu__options__item--turkey">
                        <h3>Turkey</h3>
                    </div>
                    <div id="chicken" class="optionsmenu__options__item optionsmenu__options__item--chicken optionsmenu__options__item--chicken">
                        <h3>Chicken</h3>
                    </div>
                    <div id="beef" class="optionsmenu__options__item optionsmenu__options__item--beef optionsmenu__options__item--beef">
                        <h3>Beef</h3>
                    </div>
                    <div id="venison" class="optionsmenu__options__item optionsmenu__options__item--venison optionsmenu__options__item--venison">
                        <h3>Venison</h3>
                    </div>
                </div>
                <div class="optionsmenu__options--line">
                    <div id="salmon" class="optionsmenu__options__item optionsmenu__options__item--salmon optionsmenu__options__item--salmon">
                        <h3>Salmon</h3>
                    </div>
                    <div id="trout" class="optionsmenu__options__item optionsmenu__options__item--trout optionsmenu__options__item--trout">
                        <h3>Trout</h3>
                    </div>
                    <div id="sausage" class="optionsmenu__options__item optionsmenu__options__item--sausage optionsmenu__options__item--sausage">
                        <h3>Sausage</h3>
                    </div>
                    <div id="lamb" class="optionsmenu__options__item optionsmenu__options__item--lamb optionsmenu__options__item--lamb">
                        <h3>Lamb</h3>
                    </div>
                    <div id="organic" class="optionsmenu__options__item optionsmenu__options__item--organic optionsmenu__options__item--organic">
                        <h3>Organic</h3>
                    </div>

            </section>
            <section class="optionsmenu__options optionsmenu__options-sides">
                <div class="optionsmenu__options--line">
                    <div id="potatoes" class="optionsmenu__options__item optionsmenu__options__item--potatoes">
                        <h3>Potatoes</h3>
                    </div>
                    <div id="fries" class="optionsmenu__options__item optionsmenu__options__item--fries">
                        <h3>Fries</h3>
                    </div>
                    <div id="rice" class="optionsmenu__options__item optionsmenu__options__item--rice">
                        <h3>Rice</h3>
                    </div>
                    <div id="noodles" class="optionsmenu__options__item optionsmenu__options__item--noodles">
                        <h3>Noodles</h3>
                    </div>
                    <div id="spaetzle" class="optionsmenu__options__item optionsmenu__options__item--spaetzle">
                        <h3>Spaetzle</h3>
                    </div>
                </div>
                <div class="optionsmenu__options--line">
                    <div id="veggie" class="optionsmenu__options__item optionsmenu__options__item--veggie">
                        <h3>Veggie</h3>
                    </div>
                    <div id="salad" class="optionsmenu__options__item optionsmenu__options__item--salad">
                        <h3>Salad</h3>
                    </div>
                    <div id="couscous" class="optionsmenu__options__item optionsmenu__options__item--couscous">
                        <h3>Couscous</h3>
                    </div>
                    <div id="quinoa" class="optionsmenu__options__item optionsmenu__options__item--quinoa">
                        <h3>Quinoa</h3>
                    </div>
                    <div id="bread" class="optionsmenu__options__item optionsmenu__options__item--bread">
                        <h3>Bread</h3>
                    </div>
                </div>

            </section>
            <section class="optionsmenu__options optionsmenu__options-sides">
                               <div class="optionsmenu__options--line">
                    <div id="soup" class="optionsmenu__options__item optionsmenu__options__item--soup">
                        <h3>Soups</h3>
                    </div>
                    <div id="main" class="optionsmenu__options__item optionsmenu__options__item--main">
                        <h3>Main</h3>
                    </div>
                    <div id="dessert" class="optionsmenu__options__item optionsmenu__options__item--dessert">
                        <h3>Dessert</h3>
                    </div>
                    <div id="cold" class="optionsmenu__options__item optionsmenu__options__item--cold">
                        <h3>Cold</h3>
                    </div>
                    <div id="hot" class="optionsmenu__options__item optionsmenu__options__item--hot">
                        <h3>Hot</h3>
                    </div>
                </div>
                <div class="optionsmenu__options--line">
                    <div id="spicy" class="optionsmenu__options__item optionsmenu__options__item--spicy">
                        <h3>Spicy</h3>
                    </div>
                    <div id="sweet" class="optionsmenu__options__item optionsmenu__options__item--sweet">
                        <h3>Sweet</h3>
                    </div>
                    <div id="salty" class="optionsmenu__options__item optionsmenu__options__item--salty">
                        <h3>Salty</h3>
                    </div>
                    <div id="sour" class="optionsmenu__options__item optionsmenu__options__item--sour">
                        <h3>Sour</h3>
                    </div>
                    <div id="umami" class="optionsmenu__options__item optionsmenu__options__item--savoury">
                        <h3>Savoury</h3>
                    </div>
            </section>
        </div>
    </div>

</section>