        <div class="options-container__pot-container">
            <div class="options-container__pot-container__ingredients">
                <h3>Current Filters: (Max. 4)</h3>
                <ul class="options-container__pot-container__ingredients_list">
                </ul>
            </div>
        </div>